# Pximg proxy base URLs
NUXT_PUBLIC_PXIMG_BASEURL_I="/-/"
NUXT_PUBLIC_PXIMG_BASEURL_S="/~/"

# Google Analytics
NUXT_PUBLIC_GOOGLE_ANALYTICS_ID=

# UA blacklist (JSON array of strings to block)
NUXT_UA_BLACKLIST=[]
